<div class="container-fluid">
    <section>
        <div class="d-flex flex-row-reverse col-12">
            <button class="btn btn-secondary" id="btn-add">+ Add Article</button>
        </div>
    </section>

    <section class="article-list">
        <div class="col-12">
            <h3 class="my-articles">My Articles</h3>
            <table class="table table-striped table-bordered table-hover tablewrap" width="100%" aria-label="List of Articles You Have Posted, with the Option to Edit, or Delete">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 20%">Title</th>
                        <th scope="col" style="width: 35%">Content</th>
                        <th scope="col" style="width: 10%">Created</th>
                        <th scope="col" style="width: 10%">Last Updated</th>
                        <th scope="col" style="width: 25%">Edit</th>
                    </tr>
                </thead>
            {{#if articles.length}}
            {{#each articles as |article|}}
            <tbody>
            <tr><a href="/article/{{article.id}}"></a>
                <td scope="row">{{article.title}}</th>
                <td id="content" class="word-break: break-word;">{{article.content}}</td>
                <td id="created-at">{{format_date article.created_at}}</td>
                <td id="updated_at">{{format_date article.updated_at}}</td>
                <td class="edit-btns">
                    <button class="btn btn-primary btn-update" data-id="{{article.id}}">Update</button>
                    <button class="btn btn-warning btn-delete" data-id="{{article.id}}">Delete</button>
                </td>
            </tr>
            </tbody>
            {{/each}}
            {{/if}}
            </table>
        </div>
    </section>
</div>

<script src="./js/dashboard.js"></script>