<div class="container-fluid">
    <h3 class="my-articles">Articles</h3>
    {{#if articles.length}}
    {{#each articles as |article|}}
    <section class="article-list">
        <div class="col-12">
            <div class="card-deck">
                <div class="card my-4 rounded" data-id='{{article.id}}'><a href='/articles/{{article.id}}'>
                    <div class="card-header text-light bg-dark">
                        <h3>{{article.title}}</h3>
                        <small class="text-right">Posted by {{user.username}} on {{format_date article.created_at}}</small>
                    </div>
                    <div class="card-body d-inline-block text-truncate" style="max-width: 100%" id="content" >{{article.content}}</div></a>
                </div>
            </div>
        </div>
    </section>
    {{/each}}
{{/if}}
</div>